* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

/* Page Actions */
.page-actions-container {
    height: 3rem;
    background-color: #16a085;
    display: flex;
    align-items: flex-end;
    padding-left: 0.8rem;
}
.page-action {
    margin: 0.5rem;
    color: #ecf0f1;
}


/* cell Properties */
.cellproperties-actions-container {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellproperties-actions-container > * {
    display: inline-block;
    margin-right: 1rem;
}
.cellproperties-actions-container > select {
    border: none;
    border-radius: 2px;
    outline: none;
}
.font-family-prop {
    padding: 0.2rem;
}
.font-size-prop {
    padding: 0.2rem;
}


/* formulae container */
.formulae-actions-container{
    background-color: #ecf0f1;
    height: 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formulae-actions-container> * {
    display: inline-block;
    margin-right: 0.7rem;
}
.formulae-actions-container > input {
    border: none;
    outline: none;
    height: 70%;
}
.formulae-icon {
    width: 1.2rem;

}
.address-bar {
    width: 5rem;
    text-align: center;
}
.formulae-bar {
    width: calc( 100vw - 5rem - 0.7em - 0.7rem - 0.7rem)
}


/* cells container */
.grid-actions-container {
    height: calc( 100vh - 3rem - 3rem - 2rem - 3rem );
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
.top-left-dummy-box {
    position: fixed;
    height: 2rem;
    width: 2rem;
    background-color: grey;
    z-index: 5;
}
.address-col-container {
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-row-container {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}
.cells-container {
    position: absolute;
    top: 0;
    left: 2rem;
}

.address-col {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #dfe4ea;
}
.address-row {
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #dfe4ea;
}
.row-cont {
    display: flex;
}
.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
}



/* Sheet folder container */
.sheet-ations-container{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.2rem;
    gap: 1;
}
.sheet-ations-container > * {
    display: inline-block;
}
.sheet-add-icon {
    width: 2vw;
}
.sheets-folder-container {
    display: flex;
    aign-items: center;
    height: 80%;
    width: 5rem;
    width: calc( 100vw - 2vw);
}
.sheet-folder {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}



